.card {
  background-color: antiquewhite;
  width: 300px;
  height: 320px;
  margin: 0px auto;
}

.profile-pic {
  background-color: royalblue;
  height: 90px;
}

img {
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  bottom: -25px;
}

.info {
  padding: 20px;
  text-align: center;
}

.stats {
  display: flex;
  justify-content: space-around;
}
